h2{
    color:white;
}
h1{
    color: white;
}
.mb-3{
    color:aliceblue;
}
.form-flex {
    display:flex;
    margin:0.25em;
}
.mr-2{
    margin-right: 0.25em;
    margin-top: auto;
	color:initial;
}
.star-rating {
	white-space: nowrap;
}
.star-rating [type="radio"] {
	appearance: none;
}
.star-rating i {
	font-size: 1.2em;
	transition: 0.3s;
}

.star-rating label:is(:hover, :has(~ :hover)) i {
	transform: scale(1.35);
	color: #fffdba;
	animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
}
.star-rating label:has(~ :checked) i {
	color: #faec1b;
	text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
}
.star-rating-1 {
	color:#ffee58; /* Set the color of the stars */
	overflow: hidden;
	position: relative;
}
.star-rating-1 i {
	font-size: 1.2em;
	transition: 0.3s;
	margin:0
}
.filled {
	color:#ffee58;
	text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58; }
.badge-light-green {
	background-color: lightgreen;
	color: #000;  /* Set text color to ensure readability */
}

@keyframes jump {
	0%,
	50% {
		transform: translatey(0) scale(1.35);
	}
	100% {
		transform: translatey(-15%) scale(1.35);
	}
}
.text{
    color: black;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
	font-size: larger;
}

.btn{
	border-radius: 2rem;
	margin:0.5rem;
	font-weight: bolder;
}
.button_movielens{
	background-color: orange;
	color:whitesmoke;
}
.button_imdb{
	background-color: #faec1b;
	color:#000
}
.button_tmdb{
	background-color: blue;
	color: aquamarine;
}
.header_title{
	font-family: "Rubik Maps";
	font-size: x-large;
	margin:1rem,
}
.tags_container{
	color: #000;
	font-size: larger;
}
.tags{
	font-family: "Caveat";
	font-size: large;
	color:black;
	content: ',';
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	border-radius: 0.5rem;
	margin:0.2rem;
	padding: 0.2rem 0.7rem 0.2rem 0.5rem;
}
.your_rating{
	display: flex;
	justify-content: space-between;
}
.container{
	margin: auto;
	padding: 1rem;
}
.form-flex.mb-3{
	margin: 1rem;
}
.header{
	font-family:"Permanent Marker";
	color: #000;
}