<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ user_manager.USER_APP_NAME }}</title>

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Link external CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='movies.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Rubik+Maps' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <!-- In-lining styles to avoid needing a separate .css file -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

    {# *** Allow sub-templates to insert extra html to the head section *** #}
    {% block extra_css %}{% endblock %}
  </head>


<body>
    {% block body %}
    <div id="header-div" class="clearfix with-margins">
        <button class="home" onclick="navigateToHome()">
            {% trans %}Home{% endtrans %}
        </button>        
        <ul class="pull-right">
            {% if call_or_get(current_user.is_authenticated) %}
                <li><a href="{{ url_for('user.edit_user_profile') }}"> Welcome {{ current_user.username or current_user.email }} !</a></li>
                &nbsp; | &nbsp;
                <li><a href="{{ url_for('movies_page') }}">What do you want to watch?</a></li>
                &nbsp; | &nbsp;
                <li><a href="{{ url_for('user_ratings',user_id=current_user.id) }}">Movies rated by you</a></li>
                &nbsp; | &nbsp;
                <li><a href="{{ url_for('recommendations_page') }}">Recommendations for you</a></li>
            {% else %}
            <li>
                <a href="{{ url_for('user.login') }}">{%trans%}Sign in{%endtrans%}</a>
            </li>
            <li><a href={{ url_for('home_page') }}>Home page</a></li>
            {% endif %}
        </ul>
        <form action="{{ url_for('user.logout') }}" method="post">
            <button class="signout" type="submit">{% trans %}Logout{% endtrans %}</button>
        </form>
    </div>
    {% block menu %}
    {% endblock %}
    <div id="main-div" class="with-margins">
    {# One-time system messages called Flash messages #}
    {% block flash_messages %}
        {%- with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category=='error' %}
                        {% set category='danger' %}
                    {% endif %}
                    <div class="alert alert-{{category}}">{{ message|safe }}</div>
                {% endfor %}
            {% endif %}
        {%- endwith %}
    {% endblock %}

    {% block main %}
        {% block content %}
        {% endblock %}
    {% endblock %}
    </div>
    {% endblock %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
        function navigateToHome() {
            window.location.href = {{ url_for('home_page') }};
        }
    </script>
    <script src="https://kit.fontawesome.com/03602442ba.js" crossorigin="anonymous"></script>

    {# *** Allow sub-templates to insert extra html to the bottom of the body *** #}
    {% block extra_js %}{% endblock %}

  </body>
</html>
